[Desktop Entry]
Name=melonDS
GenericName=Nintendo DS Emulator
Comment=A fast and accurate Nintendo DS emulator.
Exec=melonDS %f
Type=Application
Categories=Game;Emulator;
Terminal=false
Icon=net.kuribo64.melonDS
MimeType=application/x-nintendo-ds-rom;
Keywords=emulator;Nintendo;DS;NDS;Nintendo DS;
