[Desktop Entry]
Name=khDaysMM
GenericName=Nintendo DS Emulator
Comment=A fast and accurate Nintendo DS emulator.
Exec=khDaysMM %f
Type=Application
Categories=Game;Emulator;
Terminal=false
Icon=com.vitormm.khDaysMM
MimeType=application/x-nintendo-ds-rom;
Keywords=emulator;Nintendo;DS;NDS;Nintendo DS;
