name: Windows

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  BUILD_TYPE: Release

jobs:
  build:

    runs-on: windows-latest
    
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@v1
    - uses: msys2/setup-msys2@v2
      with:
          msystem: UCRT64
          update: true

    - name: Install dependencies
      run: pacman -Sq --noconfirm git pkgconf mingw-w64-ucrt-x86_64-{cmake,SDL2,qt6-static,libslirp,libarchive,libpng,toolchain}

    - name: Configure
      working-directory: ${{runner.workspace}}
      run: cmake -B build $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_STATIC=ON -DUSE_QT6=ON

    - name: Make
      working-directory: ${{runner.workspace}}/build
      run: cmake --build .

    - uses: actions/upload-artifact@v1
      with:
        name: melonDS-windows-x86_64
        path: ${{runner.workspace}}\build\melonDS.exe
